/* CSS Document */
.topInfo {
    display: flex;
    justify-content: space-between;
}
.userInfo {
    display: flex;
    justify-content: flex-end;
}
.currentPage {
    color: red;
}

.click {
    color: darkred;
}

