/* CSS Document */
/*.topInfo {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
.userInfo {
    display: flex;
    justify-content: flex-end;
}
.currentPage {
    color: red;
}

.click {
    color: darkred;
}

.container {
    display: flex;
    justify-content: space-between;
}


